@use 'sass:math';
@import '../../../node_modules/modern-normalize/modern-normalize.css';
@import './utils/mixins';

@import './presets/fonts';
@import './presets/vars';
@import './presets/def-presets';


//Libraries
// @import './libs/ibg'; // Also include in JS
@import './libs/modal'; // Also include in JS
@import './libs/slick-stylize';

@import './presets/fonts';
@import './utils/def-slider';
//@import './presets/container';
// @import './utils/utils-collection';
// @import './utils/text-utils';
// @import './utils/icon-utils';
// @import './utils/img-utils';
// @import './utils/ratio-utils';


@import './sections/header';
@import './sections/footer';

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scroll{
	&::-webkit-scrollbar {
		  width: 5px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		  background-color: #dbd1c4;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		  background-color: #623E2A;
		  border-radius: 3px;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		  cursor: pointer;

		  background-color: #432a1d;
		  /*redifine styles like background and border radius*/
	}
}


