@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
	&::-webkit-scrollbar {
		  width: 10px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		@apply bg-neutral-content;
	}

	// /* Handle */
	&::-webkit-scrollbar-thumb {
		@apply bg-base-300 cursor-pointer;
		@apply rounded;
		@apply border-x-2 border-transparent border-solid bg-clip-padding transition;
	}

	// /* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		@apply bg-accent;
	}
}