<%- include('inc/header.html') %>
<div class="relative">
	<div class="absolute z-[-1] w-full h-full ibg bg-cover">
		<img src="../assets/images/banner.jpg" alt="" >
	</div>
	<div class="py-5 w-full">
		<div class="container">
			<div class="flex flex-col">
				<div class="flex justify-center mb-14">
					<div class="basis-1/2 md:basis-full">
						<div class="text-white text-center font-normal text-8xl sm:text-6xl xsm:text-4xl font-playfair">Holiday in Mediterraneo</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<section class="bg-beige py-12">
	<div class="container">
		<div class="flex gap-10">
			<div class="basis-[400px]">
				<div class="bg-beige p-5 shadow-2xl text-brown font-raleway rounded flex flex-col gap-5 items-start mb-16">
					<div class="text-3xl font-playfair">Your search:</div>
					<div class=" text-xs">
						<span>
							Destination/Resort name
						</span>
						<div class="group/dropdown relative w-[300px] rounded p-1 flex items-center justify-between bg-white px-2 py-1.5 border-gray-400 border cursor-pointer font-raleway text-sm text-brown" tabindex="-1">
							<span>
								<i class="fa-solid fa-location-dot mr-2"></i> Marina d’Or
								
							</span>
							<div class="absolute z-10 top-[calc(100%+12px)] left-0 right-0 opacity-0 translate-y-10 pointer-events-none transition group-focus/dropdown:opacity-100 group-focus/dropdown:translate-y-0 group-focus/dropdown:pointer-events-auto rounded  p-1 bg-white" data-click-selectables="active">
								<div class="group/dropdownElement font-raleway text-sm text-gray-400 p-2 transition hover:text-black cursor-pointer flex items-center justify-between" data-click-selectable>
									<span>Price: Low to High</span>
									<i class="fa-solid fa-check group-[:not(.active)]/dropdownElement:hidden"></i>
								</div>
								<div class="group/dropdownElement font-raleway text-sm text-gray-400 p-2 transition hover:text-black cursor-pointer flex items-center justify-between" data-click-selectable>
									<span>Price: Low to High</span>
									<i class="fa-solid fa-check group-[:not(.active)]/dropdownElement:hidden"></i>
								</div>
								<div class="group/dropdownElement font-raleway text-sm text-gray-400 p-2 transition hover:text-black cursor-pointer flex items-center justify-between" data-click-selectable>
									<span>Price: Low to High</span>
									<i class="fa-solid fa-check group-[:not(.active)]/dropdownElement:hidden"></i>
								</div>
							</div>
							<i class="fa-solid fa-angle-down"></i>
						</div>
					</div>
					<div class=" text-xs">
						Destination/Resort name
						<div class="group/dropdown relative w-[300px] rounded p-1 flex items-center justify-between bg-white px-2 py-1.5 border-gray-400 border cursor-pointer font-raleway text-sm text-brown" tabindex="-1">
							<span>
								<i class="fa-regular fa-calendar mr-2"></i> Sunday 24-12-2023
								
							</span>
							<div class="absolute z-10 top-[calc(100%+12px)] left-0 right-0 opacity-0 translate-y-10 pointer-events-none transition group-focus/dropdown:opacity-100 group-focus/dropdown:translate-y-0 group-focus/dropdown:pointer-events-auto rounded  p-1 bg-white" data-click-selectables="active">
								<div class="group/dropdownElement font-raleway text-sm text-gray-400 p-2 transition hover:text-black cursor-pointer flex items-center justify-between" data-click-selectable>
									<span>Price: Low to High</span>
									<i class="fa-solid fa-check group-[:not(.active)]/dropdownElement:hidden"></i>
								</div>
								<div class="group/dropdownElement font-raleway text-sm text-gray-400 p-2 transition hover:text-black cursor-pointer flex items-center justify-between" data-click-selectable>
									<span>Price: Low to High</span>
									<i class="fa-solid fa-check group-[:not(.active)]/dropdownElement:hidden"></i>
								</div>
								<div class="group/dropdownElement font-raleway text-sm text-gray-400 p-2 transition hover:text-black cursor-pointer flex items-center justify-between" data-click-selectable>
									<span>Price: Low to High</span>
									<i class="fa-solid fa-check group-[:not(.active)]/dropdownElement:hidden"></i>
								</div>
							</div>
							<i class="fa-solid fa-angle-down"></i>
						</div>
					</div>
					<div class=" text-xs">
						Destination/Resort name
						<div class="group/dropdown relative w-[300px] rounded p-1 flex items-center justify-between bg-white px-2 py-1.5 border-gray-400 border cursor-pointer font-raleway text-sm text-brown" tabindex="-1">
							<span>
								<i class="fa-regular fa-calendar mr-2"></i> Sunday 24-12-2023
								
							</span>
							<div class="absolute z-10 top-[calc(100%+12px)] left-0 right-0 opacity-0 translate-y-10 pointer-events-none transition group-focus/dropdown:opacity-100 group-focus/dropdown:translate-y-0 group-focus/dropdown:pointer-events-auto rounded  p-1 bg-white" data-click-selectables="active">
								<div class="group/dropdownElement font-raleway text-sm text-gray-400 p-2 transition hover:text-black cursor-pointer flex items-center justify-between" data-click-selectable>
									<span>Price: Low to High</span>
									<i class="fa-solid fa-check group-[:not(.active)]/dropdownElement:hidden"></i>
								</div>
								<div class="group/dropdownElement font-raleway text-sm text-gray-400 p-2 transition hover:text-black cursor-pointer flex items-center justify-between" data-click-selectable>
									<span>Price: Low to High</span>
									<i class="fa-solid fa-check group-[:not(.active)]/dropdownElement:hidden"></i>
								</div>
								<div class="group/dropdownElement font-raleway text-sm text-gray-400 p-2 transition hover:text-black cursor-pointer flex items-center justify-between" data-click-selectable>
									<span>Price: Low to High</span>
									<i class="fa-solid fa-check group-[:not(.active)]/dropdownElement:hidden"></i>
								</div>
							</div>
							<i class="fa-solid fa-angle-down"></i>
						</div>
					</div>
					<div class="flex justify-between text-sm items-center">
						<span class="flex items-center"><i class="fa-regular fa-user mr-2 text-xl"></i> Adults</span>
						<span class="bg-white border border-gray-300 rounded flex group/number-sel focus-within:border-brown text-gray-400">
							<span class="border-r h-full border-gray-300 w-8 text-center text-2xl leading-none cursor-pointer group-focus-within/number-sel:border-brown" tabindex="-1">-</span>
							<input class="bg-transparent w-11 px-2 py-0.5 text-center focus:outline-0 cursor-auto" readonly type="text" value="1">
							<span class="border-l h-full border-gray-300 w-8 text-center text-2xl leading-none cursor-pointer group-focus-within/number-sel:border-brown" tabindex="-1">+</span>
						</span>
					</div>
					<div class="flex justify-between text-sm items-center">
						<span class="flex items-center"><i class="fa-regular fa-face-smile mr-2 text-xl"></i> Children</span>
						<span class="bg-white border border-gray-300 rounded flex group/number-sel focus-within:border-brown text-gray-400">
							<span class="border-r h-full border-gray-300 w-8 text-center text-2xl leading-none cursor-pointer group-focus-within/number-sel:border-brown" tabindex="-1">-</span>
							<input class="bg-transparent w-11 px-2 py-0.5 text-center focus:outline-0 cursor-auto" readonly type="text" value="1">
							<span class="border-l h-full border-gray-300 w-8 text-center text-2xl leading-none cursor-pointer group-focus-within/number-sel:border-brown" tabindex="-1">+</span>
						</span>
					</div>
					<a class="font-pt text-xl mx-auto text-white py-2 px-7 rounded-xl bg-gradient-to-b font-normal from-[#76b0d5] via-cyan to-[#76b0d5] transition hover:brightness-95">Search</a>
				</div>
				<div class="flex flex-wrap gap-2.5 mb-7">
					<div class="border border-gray-500 text-gray-500 font-playfair p-1"><i class="fa-solid fa-users mr-2"></i>Up to 6 people</div>
					<div class="border border-gray-500 text-gray-500 font-playfair p-1"><i class="fa-solid fa-users mr-2"></i>50 meters from the beach</div>
					<div class="border border-gray-500 text-gray-500 font-playfair p-1"><i class="fa-solid fa-users mr-2"></i>Air conditioning</div>
					<div class="border border-gray-500 text-gray-500 font-playfair p-1"><i class="fa-solid fa-users mr-2"></i>Terrace</div>
				</div>
				<div class="font-pt">
					Апартаменты Vacaciones Azahar расположены в муниципалитете Оропеса-дель-Мар, автономное сообщество Валенсия. К услугам гостей открытый бассейн и терраса для загара. На территории обустроена бесплатная частная парковка. Апартаменты оснащены кондиционером, телевизором и стиральной машиной. В числе удобств диван-кровать. В распоряжении гостей собственная кухня с посудомоечной машиной, духовкой и микроволновой печью. Во всех апартаментах есть 1 двухместная спальня с 1 кроватью, 1 двухместная спальня с 2 отдельными кроватями и собственная ванная комната с ванной или душем.
				</div>
			</div>
			<div class="grow">
				<div class="flex items-center justify-between">
					<div class="text-3xl font-playfair">Your search:</div>
					<div class="flex items-center ">
						<i class="fa-regular fa-sun mr-2"></i>
						1a linea de la playa
					</div>
					<i class="fa-solid fa-heart-circle-plus text-cyan text-2xl"></i>
					<div class="text-orange flex text-xl gap-1 items-center">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star-half-stroke"></i>
						<i class="fa-regular fa-star"></i>
					</div>
				</div>
				<div class="text-sm">
					Various accommodation options
				</div>
				<div class="grid grid-cols-3 grid-rows-3 gap-2.5">
					<div class="row-span-2 col-span-2 row-start-1 col-start-1 ibg bg-center bg-cover">
						<img src="../assets/images/placeholder.png" alt="">
					</div>
					<div class="aspect-video row-span-1 col-span-1 row-start-3 col-start-1 ibg bg-center bg-cover">
						<img src="../assets/images/placeholder.png" alt="">
					</div>
					<div class="aspect-video row-span-1 col-span-1 row-start-3 col-start-2 ibg bg-center bg-cover">
						<img src="../assets/images/placeholder.png" alt="">
					</div>
					<div class="aspect-video row-span-1 col-span-1 row-start-1 col-start-3 ibg bg-center bg-cover">
						<img src="../assets/images/placeholder.png" alt="">
					</div>
					<div class="aspect-video row-span-1 col-span-1 row-start-2 col-start-3 ibg bg-center bg-cover">
						<img src="../assets/images/placeholder.png" alt="">
					</div>
					<div class="aspect-video row-span-1 col-span-1 row-start-3 col-start-3 ibg bg-center bg-cover relative">
						<div class="absolute inset-0">
							<div class="absolute inset-0 bg-black opacity-50 z-10"></div>
							<a class="absolute inset-0 z-20 flex justify-center items-center underline text-white">+45  photos</a>
						</div>
						<img src="../assets/images/placeholder.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include('inc/footer.html') %>
</body>

</html>