<%- include('inc/header.html') %>
<div class="relative">
	<div class="absolute z-[-1] w-full h-full ibg bg-cover bg-center">
		<img src="../assets/images/banner.jpg" alt="" >
	</div>
	<div class="py-5 w-full">
		<div class="container">
			<div class="flex flex-col">
				<div class="flex justify-center mb-14">
					<div class="basis-1/2 md:basis-full">
						<div class="text-white text-center font-normal text-8xl sm:text-6xl xsm:text-4xl font-playfair">Holiday in Mediterraneo</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<section class="bg-beige-dark py-12">
	<div class="container">

		<div class="flex text-blue font-pt lg:flex-col gap-1.5 py-5 mb-5">
			<div class="group/step complete flex justify-center items-center gap-1.5">
				<div class="group-[.active]/step:text-white group-[.complete]/step:text-white group-[.active]/step:border-0 group-[.complete]/step:border-0 group-[.active]/step:bg-gray-500  group-[.complete]/step:bg-blue border border-blue  bg-gray-100 rounded-full h-6 w-6 text-blue font-bold flex justify-center items-center">1</div>
				<div class="text-blue">Select accommodation</div>
			</div>
			<div class="h-[1px] bg-blue grow m-2.5"></div>
			<div class="group/step active flex justify-center items-center gap-1.5">
				<div class="group-[.active]/step:text-white group-[.complete]/step:text-white group-[.active]/step:border-0 group-[.complete]/step:border-0 group-[.active]/step:bg-gray-500  group-[.complete]/step:bg-blue border border-blue  bg-gray-100 rounded-full h-6 w-6 text-blue font-bold flex justify-center items-center">2</div>
				<div class="text-blue">Select accommodation</div>
			</div>
			<div class="h-[1px] bg-blue grow m-2.5"></div>
			<div class="group/step flex justify-center items-center gap-1.5">
				<div class="group-[.active]/step:text-white group-[.complete]/step:text-white group-[.active]/step:border-0 group-[.complete]/step:border-0 group-[.active]/step:bg-gray-500  group-[.complete]/step:bg-blue border border-blue  bg-gray-100 rounded-full h-6 w-6 text-blue font-bold flex justify-center items-center">3</div>
				<div class="text-blue">Select accommodation</div>
			</div>
			<div class="h-[1px] bg-blue grow m-2.5"></div>
			<div class="group/step flex justify-center items-center gap-1.5">
				<div class="group-[.active]/step:text-white group-[.complete]/step:text-white group-[.active]/step:border-0 group-[.complete]/step:border-0 group-[.active]/step:bg-gray-500  group-[.complete]/step:bg-blue border border-blue  bg-gray-100 rounded-full h-6 w-6 text-blue font-bold flex justify-center items-center">4</div>
				<div class="text-blue">Select accommodation</div>
			</div>
		</div>
		<div class="flex justify-between lg:flex-col gap-2.5">
			<div class="flex flex-col gap-2.5 basis-4/12 justify-between">
				<div class="rounded border-2 border-gray-300">
					<div class="rounded border-2 border-white ">
						<div class="p-4">
							<div class="font-bold mb-2.5">Location</div>
							<div class="font-playfair font-bold text-xl mb-2.5">De Luxe Sea View</div>
							<div class="flex items-center">
								<i class="fa-solid fa-location-dot mr-1"></i>
								<div class="text-sm">Av. Central 22, 12594 Oropesa del Mar, Spain</div>
							</div>
						</div>
					</div>
				</div>
				<div class="rounded border-2 border-gray-300">
					<div class="rounded border-2 border-white ">
						<div class="p-4">
							<div class="font-bold mb-2.5">Booking details</div>
							<div class="flex justify-between items-center gap-2.5 pb-2.5 mb-2.5 border-b border-gray-300">
								<div class="flex gap-1 items-center">
									<div class="text-sm">
										<div class="mb-2.5">Check-in:</div>
										<div class="">Check-out:</div>
									</div>
									<div class="">
										<div class="mb-2.5"><span class="text-base font-bold">Sunday 24-12-2023</span></div>
										<div class=""><span class="text-base font-bold">Wednesday 27-12-2023</span></div>
									</div>
								</div>
								<div class="border-l pl-2.5 border-gray-300">
									<div class="text-xs">Stay duration:</div>
									<div class="font-bold">3 nights</div>
								</div>
							</div>
							<div class="text-sm">Total guests:</div>
							<div class=""><span class="text-base font-bold">Wednesday 27-12-2023</span></div>
						</div>
					</div>
				</div>
				<div class="rounded border-2 border-gray-300">
					<div class="rounded border-2 border-white ">
						<div class="p-4">
							<div class="font-bold mb-2.5">Price information</div>
							<div class="flex justify-between items-center pb-2.5 mb-2.5 border-b border-gray-300">
								<div class="text-s,">
									Total:
								</div>
								<div class="">
									<div class="text-2xl font-bold font-playfair">17 340 € </div>
									<div class="text-xs text-gray-500">Included taxes and charges</div>
								</div>
							</div>
							<div class="font-bold mb-2.5">Price information</div>
							<div class="text-xs mb-2.5">Includes the following additional charges:</div>
							<div class="flex flex-col pl-4 gap-1">
								<div class="flex justify-between items-center">
									<div class="text-sm ">Bed linen</div>
									<div class="text-xs">30 € </div>
								</div>
								<div class="flex justify-between items-center">
									<div class="text-sm ">Final cleaning</div>
									<div class="text-xs">50 € </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="flex flex-col gap-2.5 basis-7/12 justify-between items-end">
				<div class="w-full rounded border-2 border-gray-300">
					<div class="rounded border-2 border-white ">
						<div class="p-4">
							<div class="font-bold mb-2.5">Your details</div>
							<div class="flex flex-wrap justify-between items-center gap-2.5">
								<div class="basis-[calc(50%-15px)] sm:basis-full">
									<div class="text-xs">First name<span class="text-base text-orange">*</span></div>
									<input type="text" placeholder="Your name here" class="py-2 px-1 w-full rounded border text-xs border-gray-400 focus:outline-1 outline-gray-500 peer invalid:border-[#FF521C]">
									<div class="opacity-0 peer-invalid:opacity-100 transition text-[#FF521C] text-xs">Error message.</div>
								</div>
								<div class="basis-[calc(50%-15px)] sm:basis-full">
									<div class="text-xs">Last name<span class="text-base text-orange">*</span></div>
									<input type="text" placeholder="Your name here" class="py-2 px-1 w-full rounded border text-xs border-gray-400 focus:outline-1 outline-gray-500 peer invalid:border-[#FF521C]">
									<div class="opacity-0 peer-invalid:opacity-100 transition text-[#FF521C] text-xs">Error message.</div>
								</div>
								<div class="basis-[calc(50%-15px)] sm:basis-full">
									<div class="text-xs">Email<span class="text-base text-orange">*</span></div>
									<input type="email" placeholder="Your name here" class="py-2 px-1 w-full rounded border text-xs border-gray-400 focus:outline-1 outline-gray-500 peer invalid:border-[#FF521C]">
									<div class="opacity-0 peer-invalid:opacity-100 transition text-[#FF521C] text-xs">Error message.</div>
								</div>
								<div class="basis-[calc(50%-15px)] sm:basis-full">
									<div class="text-xs">Phone<span class="text-base text-orange">*</span></div>
									<input type="tel" placeholder="Your name here" class="py-2 px-1 w-full rounded border text-xs border-gray-400 focus:outline-1 outline-gray-500 peer invalid:border-[#FF521C]">
									<div class="opacity-0 peer-invalid:opacity-100 transition text-[#FF521C] text-xs">Error message.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="w-full rounded border-2 border-gray-300">
					<div class="flex rounded border-2 border-white bg-beige-dark xl:flex-col">
						<div class="basis-7/12">
							<div class="flex border-gray-300 border-b last:border-b-0">
								<div class="grow p-3.5 flex flex-col gap-1.5 border-r border-gray-300">
									<div class="text-sm text-blue underline">
										Two-Bedroom Apartment
									</div>
									<div class="text-xs flex flex-col gap-1.5">
										<div class=""><i class="fa-solid fa-users mr-2 text-base"></i>Сapacity: 6 people</div>
										<div class="">1st bedroom: <span>1x</span> <i class="fa-solid fa-bed text-base"></i> double bed</div>
										<div class="">1st bedroom: <span>1x</span> <i class="fa-solid fa-bed text-base"></i> single beds</div>
										<div class="">1st bedroom: <span>1x</span> <i class="fa-solid fa-couch text-base"></i> sofa bed</div>
									</div>
									
								</div>
								<div class="basis-[150px] flex justify-center items-center border-r border-gray-300 xl:border-0">
									<div class="font-playfair text-2xl font-bold text-blue p-2.5">17 340 €</div>
								</div>
							</div>
							<div class="flex border-gray-300 border-b last:border-b-0">
								<div class="grow p-3.5 flex flex-col gap-1.5 border-r border-gray-300">
									<div class="text-sm text-blue underline">
										Two-Bedroom Apartment
									</div>
									<div class="text-xs flex flex-col gap-1.5">
										<div class="">
											<i class="fa-solid fa-users mr-2 text-base"></i>Сapacity: 6 people
										</div>
										<div class="">1st bedroom: <span>1x</span> <i class="fa-solid fa-bed text-base"></i> double bed</div>
										<div class="">1st bedroom: <span>1x</span> <i class="fa-solid fa-bed text-base"></i> single beds</div>
										<div class="">1st bedroom: <span>1x</span> <i class="fa-solid fa-couch text-base"></i> sofa bed</div>
									</div>
									
								</div>
								<div class="basis-[150px] flex justify-center items-center border-r border-gray-300 xl:border-0">
									<div class="font-playfair text-2xl font-bold text-blue p-2.5">17 340 €</div>
								</div>
							</div>
						</div>
						<div class="grow flex flex-col justify-center items-center xl:border-t border-gray-300 p-4">
							<div class="mb-4">
								<div class="text-gray-500 text-xs">3 nights, 7 adults and 5 children</div>
								<div class="font-playfair text-2xl font-bold text-blue">17 340 €</div>

							</div>
						</div>
					</div>
				</div>
				<a class="font-pt text-xl text-white py-2 px-7 rounded-xl bg-gradient-to-b font-normal from-[#76b0d5] via-cyan to-[#76b0d5] transition hover:brightness-95">Next to payment details <i class="fa-solid fa-forward-step"></i></a>
			</div>
		</div>
	</div>
</section>

<%- include('inc/footer.html') %>
</body>

</html>