
//Raleway
@font-face {
	font-family: Raleway;
	font-weight: 200;
	src: url(../fonts/Raleway/Raleway-ExtraLight.ttf);
}
@font-face {
	font-family: Raleway;
	font-weight: 300;
	src: url(../fonts/Raleway/Raleway-Light.ttf);
}
@font-face {
	font-family: Raleway;
	font-weight: 400;
	src: url(../fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
	font-family: Raleway;
	font-weight: 500;
	src: url(../fonts/Raleway/Raleway-Medium.ttf);
}
@font-face {
	font-family: Raleway;
	font-weight: 600;
	src: url(../fonts/Raleway/Raleway-SemiBold.ttf);
}
@font-face {
	font-family: Raleway;
	font-weight: 700;
	src: url(../fonts/Raleway/Raleway-Bold.ttf);
}
//PlayfairDisplay
@font-face {
	font-family: PlayfairDisplay;
	font-weight: 400;
	src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf);
}
@font-face {
	font-family: PlayfairDisplay;
	font-weight: 500;
	src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Medium.ttf);
}
@font-face {
	font-family: PlayfairDisplay;
	font-weight: 600;
	src: url(../fonts/PlayfairDisplay/PlayfairDisplay-SemiBold.ttf);
}
@font-face {
	font-family: PlayfairDisplay;
	font-weight: 700;
	src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf);
}
@font-face {
	font-family: PlayfairDisplay;
	font-weight: 800;
	src: url(../fonts/PlayfairDisplay/PlayfairDisplay-ExtraBold.ttf);
}

//PTSansNarrow
@font-face {
	font-family: PTSansNarrow;
	font-weight: 400;
	src: url(../fonts/PTSansNarrow/PTSansNarrow-Regular.ttf);
}
@font-face {
	font-family: PTSansNarrow;
	font-weight: 700;
	src: url(../fonts/PTSansNarrow/PTSansNarrow-Bold.ttf);
}